<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BundleHasStrictIdentifier</key>
		<true/>
		<key>BundleIsRelocatable</key>
		<false/>
		<key>BundleIsVersionChecked</key>
		<true/>
		<key>BundleOverwriteAction</key>
		<string>upgrade</string>
		<key>ChildBundles</key>
		<array>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/PlugIns/ZoomAudioDevice.driver</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/zAutoUpdate.bundle</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/protobuf.framework</string>
			</dict>
			<dict>
				<key>BundleHasStrictIdentifier</key>
				<true/>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/ZoomUninstaller.app</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/zChatApp.bundle</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/viper.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/curl64.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/annoter.bundle</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/zVideoApp.bundle</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/zChatUI.bundle</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/zmLoader.bundle</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/zWebService.bundle</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/ZCommonUI.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/zmb.bundle</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/zlt.bundle</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/util.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/zMacRes.bundle</string>
			</dict>
			<dict>
				<key>BundleHasStrictIdentifier</key>
				<true/>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>ChildBundles</key>
				<array>
					<dict>
						<key>BundleOverwriteAction</key>
						<string></string>
						<key>RootRelativeBundlePath</key>
						<string>zoom.us.app/Contents/Frameworks/ZMScreenshot.app/Contents/Frameworks/ZMScreenshotKit.framework</string>
					</dict>
				</array>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/ZMScreenshot.app</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/asproxy.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/cmmlib.framework</string>
			</dict>
			<dict>
				<key>BundleHasStrictIdentifier</key>
				<true/>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/CptHost.app</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/zKBCrypto.bundle</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/xmpp_framework.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/nydus.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/tp.framework</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/zData.bundle</string>
			</dict>
			<dict>
				<key>BundleHasStrictIdentifier</key>
				<true/>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/caphost.app</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/ssb_sdk.bundle</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/zOutlookIMIntegration.bundle</string>
			</dict>
			<dict>
				<key>BundleHasStrictIdentifier</key>
				<true/>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/Transcode.app</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/mcm.bundle</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/aomagent.bundle</string>
			</dict>
			<dict>
				<key>BundleOverwriteAction</key>
				<string></string>
				<key>RootRelativeBundlePath</key>
				<string>zoom.us.app/Contents/Frameworks/zVideoUI.bundle</string>
			</dict>
		</array>
		<key>RootRelativeBundlePath</key>
		<string>zoom.us.app</string>
	</dict>
</array>
</plist>
